@font-face {
    font-family: 'Konstant Grotesk';
    src: url('/fonts/KonstantGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/KonstantGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Konstant Grotesk';
    src: url('/fonts/KonstantGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/KonstantGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}